@model MaxThrottle.Areas.Administration.Models.EditCarViewModel
@{
    Layout = "~/Areas/Administration/Views/Shared/_AdministrationLayout.cshtml";
}

<div>
    <form class="edit-form" method="POST" enctype="multipart/form-data">
        <div>
            @Html.LabelFor(m => m.ManufacturerId, "Manufacturer")
            @Html.DropDownList("ManufacturerId", null, "-", new { id = "car-manufacturer" })
            @Html.ValidationMessageFor(m => m.ManufacturerId, null)
        </div>
        <div>
            @Html.LabelFor(m => m.CarModelId, "Model")
            @Html.DropDownList("CarModelId", null, "-", new { id = "car-model" })
            @Html.ValidationMessageFor(m => m.CarModelId, null)
        </div>
        <div>
            @Html.LabelFor(m => m.EngineId, "Engine")
            @Html.DropDownList("EngineId", null, "-", new { id = "car-engine" })
            @Html.ValidationMessageFor(m => m.EngineId, null)
        </div>
        <div>
            @Html.LabelFor(m => m.YearOfProduction, "YearOfProduction")
            @Html.DropDownList("YearOfProduction", null, "-")
            @Html.ValidationMessageFor(m => m.YearOfProduction, null)
        </div>
        <div>
            @Html.LabelFor(m => m.Price, "Price")
            @Html.TextBoxFor(m => m.Price)
            @Html.ValidationMessageFor(m => m.Price, null)
        </div>
        <div>
            @Html.LabelFor(m => m.KilometersRan, "Kilometers ran")
            @Html.TextBoxFor(m => m.KilometersRan)
            @Html.ValidationMessageFor(m => m.KilometersRan, null)
        </div>
        <div>
            @Html.LabelFor(m => m.LeatherInterior, "Leather interior")
            @Html.CheckBoxFor(m => m.LeatherInterior, new { id = "leather-interior", name = "leatherInterior", value="True" })
            @Html.LabelFor(m => m.AirConditioner, "Air conditioner")
            @Html.CheckBoxFor(m => m.AirConditioner, new { id = "air-conditioner", name = "airConditioner", value = "True" })
        </div>
        <div>
            <input type="file" id="car-picture" name="carPicture" />
            <img src="@Url.Content(Model.ImageUrl)" id="preview-car-picture" alt="Your Image"
                 width="240" height="180" />
            <input type="hidden" name="imageUrl" value="@Model.ImageUrl" />
        </div>
        <input type="submit" value="Edit" />
    </form>
</div>
@Scripts.Render("~/Scripts/SiteScripts/createCar.js")
@Scripts.Render("~/Scripts/SiteScripts/imagePreviewer.js")

